
* {
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

body {
  box-sizing: border-box;
  background-color: #1F3C5A;
  overflow: auto;
  height: 100%;
  position:absolute;
}


.header {
  width:100%;
  overflow:hidden;
  text-align: center;
  margin: 25px 0;
}

h1 {
  font-size:50px;
  font-weight:bold;
}

.site-main {
  margin: 0 10%;
}

.contract-info {
   display:flex;
}

.contract-state-time {
  flex: 0 1 140px;
  margin-right:40px;
  margin-left: 20px;
  margin-top: 25px;
  height: 100px;
}

.proposal {
  flex: 1;
  margin-right:20px;
}

.proposal-panel {
  margin-top: 25px;
}

.proposal-body {
  margin: 10px;
  padding-right: 20px;
  min-height:100px;
  max-height:200px;
  overflow-y: auto;
}

.contributor-interface {
  height: 100px;
}

.total-contributions {
  height: 200px;
  position:relative;
  margin-top: 20px;
}

.total-contributions > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.individual-contributions  > div{
  margin-top: 20px;
  height: 200px;
}

.statements  {
  margin-top: 180px;
  margin-bottom: 50px;
  width: 100%;
}

.statements-log {
  min-height: 100px;
  max-height: 400px;
  overflow-y: auto;
}

/*bootsrap md size is 992 and up*/
@media (max-width: 991px) {
  h1 {
    font-size: 47px;
  }

  .contract-info {
    display: block;
    text-align: center;
  }

  .proposal {
    margin-top: 50px;
    margin-left: 20px;
  }

  .statements {
    margin-top:400px;
  }
}

@media(max-width:500px){
  body{
    background-color: red;
  }
}
