
* {
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

body {
  box-sizing: border-box;
  background-color: #1F3C5A;/*#cbd3db;*//*#FAFAFA;*/
  overflow: auto;
  height: 100%;
  position:absolute;
}


.header {
  width:100%;
  overflow:hidden;
  text-align: center;
  margin: 25px 0;
}

.site-main {
  margin: 0 10%;
}

.contract-state-time {
  height: 100px;
  margin-top:25px;
}

.proposal-panel {
  margin-top: 25px;
}

.proposal-body {
  margin: 10px;
  padding-right: 20px;
  min-height:100px;
  max-height:200px;
  overflow-y: auto;
}

.contributor-interface {
  height: 100px;
}

.total-contributions {
  height: 200px;
  position:relative;
  margin-top: 20px;
}

.total-contributions > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.individual-contributions  > div{
  margin-top: 20px;
  height: 200px;
}

.statements  {
  margin-top: 180px;
  margin-bottom: 50px;
  width: 100%;
}

.statements-log {
  min-height: 100px;
  max-height: 400px;
  overflow-y: auto;
}
